<h1 class="page-title">編集投稿</h1>
<div class="form-card">
  <%= form_with model: @post,local:true do |form| %>
   <%= form.text_field :title, class: "input" %>
   <%= form.text_area :content, class: "textarea" %>
   <%= form.submit '投稿する', class: "btn" %>
  <% end %>
  <%= link_to '記事一覧へ戻る', posts_path %>
</div>