<h1 class="page-title">ブログ記事一覧</h1>
<%= link_to '新規投稿', '/posts/new', class: "btn"%>
<% @posts.each do |post| %>
  <div class="post-card">
    <h2 class="post-title">
      <%= post.title %>
    </h2>
    <%= post.created_at.strftime("%Y-%m-%d %H:%M")%>
    <div class="post-actions">
      <%= link_to '詳細', post_path(post.id)%>
      <%= link_to '編集', edit_post_path(post.id), class: "edit" %>
      <%= link_to '削除', post_path(post.id), data: {turbo_method: :delete }, class: "delete" %>
    </div>
  </div>
<% end %>