<h1 class="page-title">ブログ記事一覧</h1>
<% @posts.each do |post| %>
  <div class="post-card">
    <h2 class="post-title">
      <%= post.title %>
    </h2>
    <%= post.created_at.strftime("%Y-%m-%d %H:%M")%>
    <div class="post-actions">
      <%= link_to '詳細', post_path(post.id)%>
      <% if user_signed_in? %>
      <%= link_to '編集', edit_post_path(post.id), class: "edit" %>
      <%= link_to '削除', post_path(post.id), data: {turbo_method: :delete }, class: "delete" %>
      <% end %>
    </div>
  </div>
<% end %>