<h1>ブログ記事一覧</h1>
<%= link_to '新規投稿', '/posts/new' %>
<% @posts.each do |post| %>
  <div>
    <%= post.title %>
    <%= post.content %>
    <%= post.created_at %>
    <%= link_to '削除', post_path(post.id), data: {turbo_method: :delete } %>
  </div>
<% end %>